@import '../../index.scss';

.homepage {
  @include background-cover;
  background-image: url("../../assets/images/background-images/homepage-2.jpg");
  height: calc(100vh - #{$nav-height});
  margin-top: $nav-height;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    @include respond-up-to(small) {
      font-size: 2rem;
    }
  }

}