@import '../../index.scss';

.not-found {
  @include background-cover;
  background-image: url("../../assets/images/background-images/not-found.jpg");
  opacity: 0.7;
  height: calc(100vh - #{$nav-height});
  margin-top: $nav-height;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;

  &:before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}