@import '../../../index.scss';

.rules {

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      @include background-color;
      width: 48%;

      .points {
        float: right;
        color: $active-link-color;
      }
    }
  }
}