@import '../../../../../../index.scss';

.player-points {
  
  .points-table {
    @include table;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    .back-link {
      color: $active-link-color;
    }
  }

}