@import '../../../index.scss';

.teams {
  @include background-cover;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;

  * {
    z-index: 1;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: $nav-height;
    flex-wrap: wrap;

    &.center {
      justify-content: center;
    }
  }

  .card {
    @include card;
  }
}