.btn {
  border-radius: 3px;
  font-size: 20px;

  &:hover {
    opacity: .8;
    text-decoration: none;
  }

  &.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
  }

  &.btn-secondary {
    background: transparent;
    border: 4px solid white;
    color: white;
    font-weight: bold;
    padding: 10px;
  }

  &.btn-ternary {
    background: $color-secondary;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
  }
}