@mixin card {
  @include background-color;
  align-self: center;
  border: 4px solid white;
  margin-bottom: 20px;
  min-height: 400px;
  transition: all .5s ease-in-out;
  width: 350px;

  &.team {
    &:hover {
      transform: scale(1.05);
    }
  }

  .input-wrapper {
    margin-bottom: 20px;

    .custom-input {
      background: transparent;
    }
  }
}
