@mixin page-content {
  &.content-wrapper {
    @include background-cover;
    @include background-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;

    &.toggled {
      .sidebar-wrapper {
        left: 0px;
        top: 0px;
      }

      #show-sidebar {
        left: -40px;
      }
    }

    $content-margin: calc(#{$sidebar-width} + 20px);
    .page-content {
      display: inline-block;
      width: calc(100% - #{$content-margin} - 20px);

      @include respond-up-to(medium) {
        margin-left: calc(#{$sidebar-width} + 10px);
        margin-top: 0;
        width: calc(100vw - #{$sidebar-width} - 20px);
      }

      .content {
        background: rgba(0, 0, 0, 0.35);
        border-radius: 10px;
      }
    }
  }
}
