@mixin page-content {
  &.content-wrapper {
    @include background-cover;
    @include background-color;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;

    $content-margin: calc(#{$sidebar-width} + 20px);
    
    .page-content {
      display: inline-block;
      margin-left: $content-margin;
      margin-right: 40px;
      margin-top: $sidebar-padding-y;
      overflow-x: hidden;
      padding-bottom: 20px;
      padding-left: 0;
      width: calc(100% - #{$content-margin} - 20px);

      @include respond-up-to(medium) {
        margin-left: calc($sidebar-width + 10px);
        margin-top: 0;
        width: calc(100vw - #{$sidebar-width} - 20px);
      }

      .content {
        background: rgba(0,0,0,0.35);
        border-radius: 10px;
        padding: 20px 40px;
      }
    }
  }
}
