@import './assets/css/fonts';
@import './assets/css/palette';
@import './assets/css/sizes';
@import './assets/css/buttons';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
